################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MongoDB.Practics.API/bin/Debug/net6.0
/MongoDB.Practics.API/obj
/MongoDB.Practics.Data/bin/Debug/net6.0
/MongoDB.Practics.Data/obj
/MongoDB.Practics.API/bin/Debug
/MongoDB.Practics.Data/bin/Debug/net7.0
/MongoDB.Practics.Data/bin/Debug/net8.0
/MongoDbEFCodeFirst/bin/Debug/net7.0
/MongoDbEFCodeFirst/obj
