
<input matInput (keyup)="filter($event)">
<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDisableClear="true">

    <ng-container matColumnDef="productID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="productID" sortActionDescription="Sort by productID"> ProductID </th>
      <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="productName" sortActionDescription="Sort by productName"> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>


    <ng-container matColumnDef="supplierID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="supplierID" sortActionDescription="Sort by supplierID"> SupplierID </th>
      <!--<mat-cell *matCellDef="let element">
        <a routerLink="/your-link">{{element.supplierID}}</a>
      </mat-cell>-->
    <td mat-cell *matCellDef="let element">
      <!--<a [routerLink]="['/admin/products/', element.supplierID]">Edit</a>-->
      <a routerLink="/your-link">{{element.supplierID}}</a>
    </td>
    </ng-container>

    <ng-container matColumnDef="categoryID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="categoryID" sortActionDescription="Sort by productID"> categoryID </th>
      <td mat-cell *matCellDef="let element"> {{element.categoryID}} </td>
    </ng-container>

    <ng-container matColumnDef="quantityPerUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="quantityPerUnit" sortActionDescription="Sort by quantityPerUnit"> Quantity Per Unit </th>
      <td mat-cell *matCellDef="let element"> {{element.quantityPerUnit}} </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="unitPrice" sortActionDescription="Sort by unitPrice"> Unit Price </th>
      <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="unitsOnOrder">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="unitsOnOrder" sortActionDescription="Sort by unitsOnOrder">Units On Order </th>
      <td mat-cell *matCellDef="let element"> {{element.unitsOnOrder}} </td>
    </ng-container>

    <ng-container matColumnDef="unitsInStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="unitsInStock" sortActionDescription="Sort by unitsInStock">Units In Stock</th>
      <td mat-cell *matCellDef="let element"> {{element.unitsOnOrder}} </td>
    </ng-container>

    <ng-container matColumnDef="reorderLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="reorderLevel" sortActionDescription="Sort by reorderLevel">Reorder Level</th>
      <td mat-cell *matCellDef="let element"> {{element.reorderLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="discontinued">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="discontinued" sortActionDescription="Sort by discontinued">Discontinued </th>
      <td mat-cell *matCellDef="let element"> {{element.discontinued}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <div *ngIf="!(ProductDetails) || ProductDetails?.length===0">
    No Record
  </div>
  <mat-paginator [pageSizeOptions]="[5,10, 20]" [style.display]="ProductDetails?.length?'block':'none'"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

